@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    margin-top: 2rem;
    background-color: white;
    background-color: #f0f0f0;
    height: 6rem;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}
body {
   background-color: lightslategray;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 8rem;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 5vw;
}


header a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.hauptpunkte:hover {
    color: #0070B4;
}
.hauptpunkte {
    margin-left: 8vw;
}

.mb-3 {
    width: 100%;
}

.forminatorus {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    margin: 5vw 20vw;
    padding: 2vw;
    border-radius: 10px;
}

.btn.btn-primary {
    color: white;
    background-color: black;
    border: 0px;
    margin-top: 2vw;
}

.btn.btn-primary:hover {
    background-color: white;
    color: black;
    border: 3px black solid;

}


.danio {
    margin-bottom: 2vw;
}

.grossse {
    display: flex;
    justify-content: end;
}
.carousel.slide {
    display: flex !important;
    justify-content: center !important;
    margin: 8% !important;

}

.grossick {
    margin-top: 4%;
    padding: 0 8%;
    margin-bottom: -3%;
}


nav#hamburgerNav a {
    text-decoration: none;
    color: #eee;
    font-size: 1.5em;
    font-weight: bold;
}

nav#hamburgerNav a:hover {
    color: #0C2428 !important;
}


/* Hamburger Icon */
#hamburgerIcon {
    display: none;
    /* Das Icon wird nicht angezeigt */
    font-size: 4em;
    cursor: pointer;
    color: #ffffff;
    color: black;
}

/* Hamburger Navigation */
nav#hamburgerNav {
    position: fixed;
    height: 100%;
    width: 0;
    /* Hat eine Breite von 0, wird also nicht angezeigt */
    top: 0;
    right: 0;
    padding-top: 80px;
    overflow-x: hidden;
    transition: 1s;
    background-color: #38668E;
    z-index: 999;
    display: flex;
    justify-content: center;
}

nav#hamburgerNav ul {
    list-style: none;
    line-height: 2.5;
    font-size: 1rem !important;
    display: flex;
    flex-direction: column;
    text-align: center;
}


nav#hamburgerNav .closebtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
}

nav#hamburgerNav .closebtn:hover {
    border: none;
    padding: 0;
    color: #ffffff !important;
}

#hamburgerIcon:hover {
    color: #0070B4;
    transform: scale(1.1);
}

.btn.btn-secondary.dropdown-toggle {
    color: black!important;
    background-color: #f0f0f0!important;
    border: #f0f0f0!important;
    font-weight: 700!important;
    font-size: 1.5rem;
    margin: 0px!important;
    padding: 0px!important;
}

.btn.btn-secondary.dropdown-toggle:hover {
    color: #0070B4!important;
}

.btn {
    border-radius: 0px!important;
    border: solid 0 #f0f0f0 !important;
}

.btn:focus {
    box-shadow: none!important;
}

a.dropdown-item {
    font-size: 1rem!important;
    color: white;
}
ul.dropdown-menu.show {
    border: none!important;
    border-radius: 0!important;
    background-color: rgba(0,0,0,0.8)!important;
    z-index: 999!important;
}

@media screen and (max-width: 1000px) {
    #hamburgerIcon {
        display: block;
    }
    .hauptpunkte {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
    }


}

.sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 17vw 10vw 17vw;
    z-index: 0;

}

.sections1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 17vw 2vw 17vw;
    z-index: 0;

}

.card {
    margin-top: 3rem;
    z-index: 0!important;
}

@media screen and (max-width: 1300px) {
    .sections {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sections1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.carouselkleiner {
    display: flex!important;
    justify-content: center!important;
    padding: 0% 8%;
}

.videojahr {
    margin-top: 4vw;
    padding: 0 8%;
    display: flex;
    justify-content: center;
}

.intrview {
    margin-top: 4vw;
    padding: 0 8%;
}

.titelaufjederseite {
    font-size: 2rem;
    font-weight: 700;
    padding: 0 7rem;
    padding-top: 3rem;
}


.textaufjederseite {
    padding: 3rem;
}
.artikelaufjederseite {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;
    height: max-content;
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
    .artikelaufjederseite {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;
    }
    .textaufjederseite {
        padding: 0 2rem;
    }
    .titelaufjederseite {
        padding: 3rem 4rem;
    }



}


footer {
    display: flex ;
    align-items: center;
    flex-direction: row;
    background-color: #f0f0f0;
    height: 6rem;
    justify-content: center;
    margin-top: 2rem;

    width: 100%;
}

footer div {
    margin:0 2rem;
    text-decoration: none!important;
    color: black!important;
}

footer a{
    color: black!important;
    text-decoration: none!important;
}

@media screen and (max-width: 1000px) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.4rem;
        font-size: 0.8rem;
    }
    .scheissstrich {
        display: none;
    }


}

.bilddesspartans {
    display: flex;
    justify-content: center;
}

.bilddesspartans img {
    width: 20%;
}

.btn.btn-secondary.btn-lg {
    background-color: black;
    color: white;
    padding: 2vw 3vw;
    font-size: 2.5vw;

}

.btn.btn-secondary.btn-lg:hover {
    background-color: white;
    color: black!important;
}

.titel2aufjederseite {
    font-size: 2rem;2
    font-weight: 700;
    padding: 0 7rem;
    padding-top: 1rem;
    margin-bottom: 8vw;

}

.titel3aufjederseite {
    font-size: 2rem;2
font-weight: 700;
    margin: 0 7rem;
    margin-top: 1rem;
    padding: 1vw;
    color: black;
    background-color: white;
}

button a {
    text-decoration: none!important;
    color: white!important;
}

.carousel-control-prev-icon {
    color: black!important;

}